<!DOCTYPE html>
<html>

<head>
  {{template "static" .}}
  <title>发布情绪--情绪管理大师</title>
</head>

<body style="font-size: 16px;">
  <div id="home" style="max-width: 649px; margin-right: auto; margin-left: auto;">
    {{template "header" .}}
    <div class="card-header text-center">
      <h3>发布情绪</h3>
      <span>日记/心情/随笔/叙事等</span>
    </div>
    <div class="card-header">
      <div class="input-group mb-3">
        <span class="input-group-text" >标题</span>
        <input id="title" type="text" class="form-control" placeholder="选填" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="type-title">分类</span>
        <select id="type" class="form-select" aria-label="Default select example">
          <option selected>默认</option>
          <option value="1">工作</option>
          <option value="2">生活</option>
          <option value="2">学习</option>
          <option value="2">恋爱</option>
        </select>
        <a class="input-group-text" href="#"><img src="http://soufoshuo.com/static123/bootstrap-icons/pencil.svg"
            width="16" height="16"></a>
      </div>
      {{template "quill" .}}
      <br>
      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit" onclick="Ins()">提交</button>
      </div>
    </div>

    <script>

      //提交
      function Ins() {
        let uid = "10000"
        if (uid == "") {
          alert("请先登录！")
          return
        }

        let title = ""
        title = $("#title").val().trim()
        let type = "默认"
        type = $("#type").val()

        let content = ""
        let text = ""
        if ($('#editor').length > 0) { //判断元素是否存在
          content = $("#editor").html().trim()
          if (content == "") {
            alert("请输入内容。")
            return
          }
          text=$("#editor").text().trim()
        }
        /*
        let code = $("#code").val();
        let capid = $("#check-btn").attr("data-id")
        if (code == "" || capid == "") {
          alert("请输入验证码。")
          return
        }
*/
        $.post("/diary/insert/",
          {
            uid: uid,
            type: type,
            title: title,
            content: content,
            text:text,
          },
          function (result) {
            if (result.Succ == true) {
              alert(result.Info)
              window.location.href = "/art/" + result.LastId
            } else {
              alert(result.Info)
            }
          }, "json");
      }

    </script>

    {{template "footer" .}}

</body>

</html>