<!DOCTYPE html>
<html>

<head>
  {{template "static" .}}
  <meta http-equiv="expires" content="2592000">
  <title>情绪管理大师</title>
</head>

<body style="font-size: 16px;">
  <div id="home" style="max-width: 649px; margin-right: auto; margin-left: auto;">
    {{template "header" .}}

    <div class="card-header">
      <div class="card-body">
        <h5><b>集中国文化之大成</b></h5>
        佛经有云，无明习气<b>决定</b>智慧与命运。也即现代说的<b>性格决定命运</b>。<br>
        无明习气<b>决定</b>性格，性格<b>决定</b>情绪，情绪又<b>决定</b>人的行为。
      </div>
      <div class="card-body">
        <h5><b>结合现代最新AI科技</b></h5>
        在人最明显的情绪入手，通过用户日常各种日记等记录，采用古代<b>功过薄</b>方式，以及结合现代<b>AI</b>技术，进行情绪分析和管理，
        让自己能够<b>明了</b>和<b>改变</b>不利性格、习气，以破除无明，增长智慧。
        从而能够趋利避害，成功<b>改变命运</b>。
        
        <div class="card-body text-center">
          <button type="button" class="btn btn-primary">免费注册</button>
          <button type="button" class="btn btn-secondary">登录</button>
        </div>
        <div class="card-body text-center">
          <b class="link-danger">公测期间注册即送一个月一级会员资格！</b>
        </div>
      </div>
    </div>

    <!--
          <div class="card">
            <div class="card-header">
              <h2>情感交流</h2> 
               1，通过AI情绪分析模型，对用户的日记，心情记录，聊天记录等（后续包括图片和语音视频等），进行情绪分析并且记录。<br>
               2，通过对情绪的周、月、年等进行统计比较，用户能够对自己的情绪一目了然，从而清楚知道需要改进，改善和保持的情绪行为等。<br>
               3，VIP用户，提供各种多维度AI情绪管理模型，给出改善等建议。<br>
               4，1对1高级VIP情绪分析师进行周，月，年等点评，帮助用户迅速找到自己的优缺点，以及改进等方法。
               <br>
            </div>          
          </div>-->
  </div>

  {{template "footer" .}}

</body>

</html>