<!DOCTYPE html>
<html>

<head>
  {{template "static" .}}
  <meta http-equiv="expires" content="2592000">
  <title>定价--情绪管理大师</title>
</head>

<body style="font-size: 16px;">
  <div id="home" style="max-width: 649px; margin-right: auto; margin-left: auto;">
    {{template "header" .}}
    <div class="container">
      <!--
        sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px-->
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">免费会员</th>              
              </tr>
            </thead>
            <tbody>
              <tr>               
                <td>发布日记</td>             
              </tr>  
              <tr>               
                <td>情绪分析</td>             
              </tr> 
              
              <tr>               
                <td><b style="color: brown;">X</b>情绪统计</td>             
              </tr> 
              <tr>               
                <td><b style="color: brown;">X</b>横向比较</td>             
              </tr>   
              <tr>               
                <td>每日至多7篇日记</td>             
              </tr>   
              <tr>               
                <td>永久免费</td>             
              </tr>                        
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">一级会员</th>              
              </tr>
            </thead>
            <tbody>
              <tr>               
                <td>发布日记</td>             
              </tr>  
              <tr>               
                <td>情绪分析</td>             
              </tr> 
             
              <tr>               
                <td>情绪统计</td>             
              </tr> 
              <tr>               
                <td><b style="color: brown;">X</b>横向比较</td>             
              </tr>   
              <tr>               
                <td>每日至多49篇日记</td>             
              </tr>   
              <tr>               
                <td>10元/月</td>             
              </tr>   
              <tr>               
                <td>100元/年</td>             
              </tr>        
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">二级会员</th>              
              </tr>
            </thead>
            <tbody>
              <tr>               
                <td>发布日记</td>             
              </tr>  
            
              <tr>               
                <td>情绪分析</td>             
              </tr>  
              <tr>               
                <td>情绪统计</td>             
              </tr> 
              <tr>               
                <td>横向比较</td>             
              </tr>  
              <tr>               
                <td>每日至多108篇日记</td>             
              </tr> 
              <tr>               
                <td>30元/月</td>             
              </tr> 
              <tr>               
                <td>300元/年</td>             
              </tr>               
            </tbody>
          </table>
        </div>    
      </div>
    </div>
  </div>
  {{template "footer" .}}

</body>

</html>